body {
  font-family: 'Roboto', sans-serif;
  background-color: #3b3b3b;
  margin: 0;
  color: #d1cfcd;
}

.container {
 display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   #display: flex;
   #flex-wrap: wrap;
   #justify-content: flex-start;
}

.container-other {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* try to resize the screen */
@media screen and (max-width: 768px) {
 .container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
 }
 .container-other {
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    #display: flex;
  #flex-wrap: wrap;
    #justify-content: flex-start;
 }
 .topnav a {
   position: relative;
   float: left;
   color: #d1cfcd;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   #font-size: 35px;
 }
}

.box {
 background-color: #242424;
#    width: 30%;
   margin: 10px;
   padding: 10px;
   text-align: left;
   box-shadow: 2px 2px 5px #1c1c1c;
   border-radius: 5px; 
}

.box h2 {
   margin-top: 0;
   font-size: 24px;
}

#status {

}

#inclusion-probability {
}

#reward-estimation {
}

/* Add a black background color to the top navigation */
.topnav {
 background-color: #242424 ;
 overflow: hidden;
 text-align: center;
 justify-content: center;
 display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
 position: relative;
 float: left;
 color: #d1cfcd;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 #font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
 background-color: #ddd;
 color: #242424;
}

/* Add a color to the active/current link */
.topnav a.active {
 background-color: #fa7e02;
 color: #242424;
}

#watermark {
   /* Used to position the watermark */
  position: fixed;     
  text-align: center;    
  bottom: 5px; 
  width: 100%;
}

#watermark__inner {
   /* Center the content */
   align-items: center;
   display: flex;
   justify-content: center;

   /* Absolute position */
   left: 0px;
   position: absolute;
   top: 0px;

   /* Take full size */
   height: 100%;
   width: 100%;
}