.container {
  display: flex;
  justify-content: space-between;
}

.api-result {
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 45%;
}

#report-result {
  background-color: lightblue;
}

#status-result {
  background-color: lightgreen;
}
